# env
/.env
/provider/catalog-api/.env

# compiled output
/provider/catalog-api/dist
/consumer/catalog-web/build

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other
/consumer/catalog-api/node_modules
/consumer/catalog-web/node_modules